.no-margin {
  margin: 0
}

.container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.charts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  gap: 50px;
}